[flake8]
exclude = test.py

per-file-ignores =
    __init__.py: F403, F405
    cursors.py: E741
    annotations.py: F821, E741
    .\tests\*.py: F403, F405
    .\tests\test_annotations.py: F821

extend-ignore = E225
max-line-length = 85

count = True
